.main-header {
  border-bottom: 1px solid white;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.menu {
  padding: 0.5rem 1rem;
  border: 1px solid white;
  border-radius: .2rem;
  background-color: transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 500ms, color 500ms;
}
.menu.active {
  background-color: white;
  color: var(--clr-dark);
  cursor: default;
}
