/* TODO: put in App.css ? */
.item-card {
    background-color: var(--bs-dark) ;
    margin-bottom: .5rem;
    padding: .5rem;
    border-radius: .25rem;
    font-size: 16px;
    cursor: pointer;
}
.item-card-success {
    border: 1px solid var(--bs-success);
}
.item-card-danger {
    border: 1px solid var(--bs-danger);
}

.item-card:hover {
    box-shadow: 0 0 0 0.4rem rgba(228, 228, 235, 0.25);
}

.item-card__title {
    display: flex;
    gap: .5rem;
}
.bank.item-card__title {
    grid-template-columns: max-content auto auto max-content max-content;
}

.item-card__body {
    padding: 0;
    display: flex;
}

.item-card__footer {
    border: 0;

}
