input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none;
    background-color: -internal-light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4));
    color: fieldtext;
}

.modal-content {
    background: linear-gradient(135deg, var(--clr-dark), var(--clr-dark-blue));
    /* border: 1px solid #ccc; */
    /* border-bottom: 0; */
}

.modal-header {
    border-bottom-color: transparent;

}

.modal-footer {
    border-top: transparent;
}

.input-control,
.form-control,
.form-select {
    border: 3px solid transparent;
    /* box-shadow: 0 0 0 0.4rem rgba(228, 228, 235, 0.25); */
}

.input-control:focus,
.form-control:focus,
.form-select:focus ,
.input-control.is-valid:focus,
.form-control.is-valid:focus,
.form-select.is-valid:focus ,
.input-control.is-invalid:focus,
.form-control.is-invalid:focus,
.form-select.is-invalid:focus
{
    box-shadow: 0 0 0 0.4rem rgba(228, 228, 235, 0.25);
}

.form-control.is-valid,
.input-control.is-valid{
    border: 3px solid #198754;
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 8 8%27%3e%3cpath fill=%27%23198754%27 d=%27M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z%27/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.input-control.is-valid:focus,
.form-control.is-valid:focus,
.form-select.is-valid:focus {
    border: 3px solid #198754;
    /* box-shadow: 0 0 0 0.4rem rgba(228, 228, 235, 0.25); */
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 8 8%27%3e%3cpath fill=%27%23198754%27 d=%27M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z%27/%3e%3c/svg%3e") !important;
}