:root {
  --clr-dark: rgba(25, 25, 25, 0.95);
  --clr-dark-blue: rgb(31, 41, 71);
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-btn-font-family: var(--bs-font-monospace);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  color: white;

  /* background: linear-gradient(135deg,
      var(--clr-dark-blue) 0%,
      var(--clr-dark) 25%,
      var(--clr-dark) 75%,
      var(--clr-dark-blue) 100%); */

  background: linear-gradient(135deg, var(--clr-dark), var(--clr-dark-blue));
  overflow-y: hidden;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

label {
  font-weight: 300;
}

.main {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  height: 100vh;
  width: 100vw;
}
.main main {
  overflow: hidden;
}

.btn-menu {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
.btn-date {
  display: block;
  width: 100%;
  /* position: relative; */
  padding-block: 8px;
  font-size: 1rem;
}
.date-picker {
  position: absolute;
  z-index: 10;
}

.form-switch .form-check-input {
  width: 4rem;
  height: 2.3rem;
}